// Global
$bg-color: #f7f6f2;
$dark-gray: #403e3d;
$light-gray: #e9ecef;
$border-gray: rgba(0, 0, 0, 0.15);

// Inputs
$invalid-light: #fce1a8;
$invalid-dark: #f0ab51;

// Buttons
$button-primary: #729c0a;
$button-primary-hover: #5b850a;
$button-primary-shadow: #4d5e23;

// Social Buttons
$facebook-blue: #2d5c9a;
$facebook-blue-hover: #274a99;
$facebook-blue-shadow: #1c386f;
